# Virtual Environment
.venv/
venv/
env/
ENV/
bin/
lib/
include/
pip-selfcheck.json

# Node dependencies
node_modules/

# Production builds
dist/
local.env

# SQLite Databases & Local Storage
*.db
*.sqlite
*.sqlite3
instance/
BackendFlask/instance/
BackendFlask/static/exports/*

# Logs & Emails
sent_emails/
notifications/
*.log

# Python cache & compiler output
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.cache/

# Celery
celerybeat-schedule
celerybeat-schedule.db

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
